/* Estilos personalizados */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilos Bootstrap */
  .container {
    max-width: 400px;
  }